<div class="card">
    <div class="card-header p-3">
        Details
    </div>
    <div class="card-body">
        <div class="table">
          <tr>
              <td class="p-3"> <b> Raw Data: </b></td>
              <td class="p-3">{{encryption.rawData}}</td>
          </tr>
          <tr>
              <td class="p-3"> <b> Security Key: </b></td>
              <td class="p-3">{{encryption.securityKey}}</td>
          </tr>
          <tr>
              <td class="p-3"> <b> Encrypted Value: </b></td>
              <td class="p-3">{{encryption.encryptedValue}}</td>
          </tr>
      </div>
  </div>
</div>
